body { background: #a9cfb7; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 15px; display: flex; }
.block-uploader-0 { color: #d1475b; font-size: 15px; margin-bottom: 5px; }
.block-order-1 { color: #95de2b; font-size: 12px; margin-bottom: 5px; }
.block-notify-2 { color: #ea3d9; font-size: 21px; margin-bottom: 5px; }
.block-uploader-3 { color: #3d793b; font-size: 13px; margin-bottom: 5px; }
.block-email-4 { color: #8b9574; font-size: 19px; margin-bottom: 5px; }
.block-shipping-5 { color: #8aee6c; font-size: 16px; margin-bottom: 5px; }